/*======= index.html =======*/
#page1 .p1-cont .col-1 { padding-right:54px; width:300px;}
#page1 .p1-cont .col-2 { width:646px; margin-top:-4px;}

/*======= index-1.html =======*/
#page2 .p2-cont .col-1 { padding-right:55px; width:300px;}
#page2 .p2-cont .col-2 { width:646px; margin-top:-4px;}

/*======= index-2.html =======*/
#page3 .p3-cont .col-1 { padding-right:55px; width:300px;}
#page3 .p3-cont .col-2 { width:646px; margin-top:-4px;}

/*======= index-3.html =======*/
#page4 .p4-cont .col-1 { padding-right:55px; width:300px;}
#page4 .p4-cont .col-2 { width:646px; margin-top:-4px;}

/*======= index-4.html =======*/
#page5 .p5-cont .col-1 { padding-right:55px; width:300px;}
#page5 .p5-cont .col-2 { width:646px; margin-top:-4px;}

/*======= index-5.html =======*/
#page6 .p6-cont .col-1 { padding-right:55px; width:300px;}
#page6 .p6-cont .col-2 { width:646px; margin-top:-4px;}

/*======= index-6.html =======*/
#page7 .p7-cont .col-1 { padding-right:55px; width:300px;}
#page7 .p7-cont .col-2 { width:646px; margin-top:-4px;}
/*=========================*/