
/* Getting the new tags to behave */
article, aside, audio, canvas, command, datalist, details, embed, figcaption, figure, footer, header, hgroup, keygen, meter, nav, output, progress, section, source, video{ display: block; }
mark, rp, rt, ruby, summary, time{ display: inline }

/* Left & Right alignment */

.left { float:left;}
.right { float:right;}
.wrapper {width:100%; overflow:hidden;}
/*.none{ display:none;} */
.relative{ position:relative;}

/* Global properties ======================================================== */

      

              /*========================== LISTS ============================*/

 /*==========================================================================background-position:50% 50%;*/
body{  background:#131313; background-image:url(../images/bgff.png);background-repeat:no-repeat; border:0; font:12px Arial, Helvetica, sans-serif; color:#808080; line-height:19px; min-width:1010px; }

.page_spinner{ position:absolute;background: url(../images/ajax-loader.gif) 50% 50% no-repeat #131313; z-index:99; width:100%; height:100%; top:0; left:0}

/* Global Structure ============================================================= */

.extra {min-height:100%; height:auto !important; height:100%; position:relative; overflow:hidden;}
body, html {height:100%;}

/* ============================= main layout ====================== */

a{ color:#fff; text-decoration: none; outline:none}
a:hover{}
h1{ padding:0 0 40px 27px;}
h2{ font-size:35px; color:#fff; word-spacing:3px; padding:0 -1px 13px 12px; position:relative; margin:9px 25px; line-height:1.2em;}
h2 span{ position:absolute; width:22px; height:21px; top:3px;}
h2 .left{ left:-25px; background:url(../images/marker_left.png) 0 0 no-repeat;}
h2 .right{ right:-25px; background:url(../images/marker_right.png) 0 0 no-repeat;}
h2 strong{ position:absolute; width:100%; background:url(../images/line.gif) 0 0 repeat-x; height:4px; left:0; top:47px}
p{ padding-bottom:19px;}

/* ============================= header ====================== */
header{ background:url(../images/vector-1.png) 0 0 no-repeat; height:662px; padding-top:30px; position:relative; z-index:3}

#logo{ display:block; text-indent:-9999px; background:url(../images/logo.png)  0 0 no-repeat; width:176px; height:126px;}

.menu{ background:url(../images/bg_menu.png) 0 0 no-repeat; padding:170px 49px}

#menu {}
#menu > li { position:relative; margin-bottom:5px;}
#menu > li > a{ display:block; text-align:center; font-size:25px; line-height:1.2em; word-spacing:3px;}
#menu > li > a:hover, #menu > .active > a{ }

#menu > li > span{ position:absolute; top:3px; width:22px; height:21px;}
#menu > li > .left{ left:-22px; background:url(../images/marker_left.png) 0 0 no-repeat}
#menu > li > .right{ right:-22px; background:url(../images/marker_right.png) 0 0 no-repeat;}
#menu > li > strong{ position:absolute; top:12px; left:2px; width:128px; height:4px; background:url(../images/line.gif) 0 0 repeat-x}

.submenu_1{ position:absolute; top:0; left:132px; width:161px; z-index:10}
.submenu_1 li{ padding-bottom:1px; font-size:11px; line-height:30px; position:relative;}
.submenu_1 a{ display:block; text-transform:uppercase; padding:0 12px; color:#fff; background:#292929}
.submenu_1 li.sfHover > a, .submenu_1 a:hover{ background:#00b4ff; color:#fff}
.submenu_2{ position:absolute; top:0; left:162px; width:161px;}

/* ============================= content ====================== */

#content{ height:880px; position:relative; z-index:1; top:166px; height:504px;}
#content > ul{ height:100%}
#content > ul > li{ position:relative; width:100%; height:100%;}
#content > ul > li > img{ position:absolute; top:0; left:0; width:100%; height:100%; } 


.box{ position:relative; padding:57px 44px;}

#works{ position:absolute; left:312px; z-index:2; width:100%; height:100%}

#gallery{ position:absolute; top:16px;}
#gallery ul{ position:relative;}
#gallery li{ float:left; margin-left:23px; width:243px;list-style:none;}
#gallery a{ margin-top:25px; display:block; position:relative; width:243px; height:360px;}
#gallery a img{ position:absolute; top:0; left:0; width:100%; height:100%}
#gallery a span{ position:absolute; width:100%; height:100%; top:0; left:0}
#gallery a strong{ display:block; font-size:14px; color:#3a3a3a; position:absolute; left:20px; bottom:46px;font-family: 'Oswald', sans-serif; text-transform:uppercase; font-weight:400}
#gallery a span span{ position:absolute; bottom:10px; left:20px; top:auto;font-size:11px; color:#888888; text-transform:uppercase; line-height:1.2em; height:32px;}

#fancybox-title{}
#fancybox-left, #fancybox-right{ display:block; position:absolute; z-index:9999; bottom:20px !important; height:19px !important; width:12px !important;}
#fancybox-close{ background:url(../images/close.gif) 0 0 no-repeat; width:19px; height:19px; top:-31px; right:-31px; position:absolute}
#fancybox-left{ right:47px !important; background:url(../images/markers.gif) 0 0 no-repeat; left:auto !important}
#fancybox-right{ right:17px !important; background:url(../images/markers.gif) right 0 no-repeat}
.fancy-ico{ display:none !important; background: none !important}
#fancybox-title-over{ font-size:14px; color:#3a3a3a; text-align:left; padding-left:10px;font-family: 'Oswald', sans-serif; text-transform:uppercase; display:block; padding:15px 10px;}
#fancybox-title-over span{ display:block; font:11px Arial, Helvetica, sans-serif; color:#888888}

#icons{ position:absolute; right:515px; top:-250px; z-index:3}
#icons li{ float:left;}
#icons .first{ padding-right:20px; font-size:14px; color:#fff; line-height:56px; word-spacing:2px;}
#icons a{ position:relative; width:59px; height:62px; display:block; cursor:pointer; background:url(../images/spacer.gif) repeat}
#icons img{ position:absolute; top:0; left:10;}
.banniere{position:absolute;width:600px; height:98px;padding-top:0px;background-color:none;}

.marg_right1{ margin-right:19px;}
#page_services .marg_right1{ margin-right:15px;}
.pad_bot1{ padding-bottom:32px}
.pad_left1{ padding-left:40px;}

.col1{ width:300px; float:left;}
.col2{ width:255px; float:left;}
#page_services .col1{ width:278px;}
#page_contacts .col1{ width:272px;}
#page_contacts .col2{ width:72px;}

.rightcol{height:765px; with:240px; background:url(../images/shadow-bar-rightm.png)no-repeat; }
.grid_7 .box{ position:relative; padding:17px 44px;}


.font1{ color:#fff; font-size:11px; text-transform:uppercase}

.button1{ display:inline-block; font-size:11px; color:#fff; text-transform:uppercase; position:relative; background:url(../images/button_bg.png) repeat; padding:0 12px; line-height:20px;}
.button1 strong
{ position:absolute;   color:#72809f;
                   border:1px solid #203354;
                    background:url(../images/bg-input.png) repeat left top;
 width:100%; height:100%; top:0; left:0;}
.button1:hover{ color:#000;}
.button1 span{ position:relative; display:block;}
/*.button1 embed{display:none;}.button1:active*/
/*.hidden{display:none;}
 .player, div.player object, .player embed{
    width:70px;
    height:43px;
    overflow:hidden;
    margin:0 auto;
    display:none;
    background-color:#CC8866; couleur juste pour voir le bloc div
    }
    .player:hover, div.player object:hover, .player embed:hover{
    display:block;height:50px;overflow:visible;
    }*/
.box1{ float:left; width:99px; background:#4a4a4a; position:relative; padding:15px; padding-bottom:10px; color:#808080; margin-bottom:19px;}
.box1 strong{ position:absolute; top:0; left:0; width:100%; height:100%; background:#fff}
.box1 span{ position:relative; display: block}
.box1:hover, .box1:hover .font1{ color:#000}
.box img{ padding-bottom:10px}

.link1{ position:relative; display:inline-block;}
.link1 span{ position: absolute; left:0; width:100%; height:1px; background:#fff; bottom:2px;}

.posted{ border-top:1px solid #262626; padding:10px 0 20px 0; font-size:11px; margin-top:3px;}
.posted span{ float:right; background:url(../images/reviews.gif) 0 0 no-repeat; width:24px; color:#fff; font:12px Verdana, Geneva, sans-serif; text-align:center; height:22px; margin-top:4px; margin-right:4px; line-height:16px;}

.scroll{height:325px; width:520px; overflow:hidden}
.track{ width:1px; height:345px; padding:30px 0; top: 50px !important; left:550px !important; background:#262626}
.shuttle{ width:5px; height:55px; background:#fff; margin-left:-2px;}
._up-butt, ._down-butt{ height:0px !important;}

/* ============================= footer ====================== */

footer { background:url(../images/bg_footer2.png) center 0 no-repeat; text-align:center; font-size:14px; padding-top:44px; color:#636363; word-spacing:2px;}
footer a{ color:#636363;}
footer a:hover{ color:#fff;}
footer span{ color:#fff}
.footer2 { height:90px;background:url(../images/footieres.png) center 0 no-repeat;padding-top:0px;background-color:none;}
/* ============================= forms ============================= */

#ContactForm{}
#ContactForm .wrapper{ overflow:inherit; min-height:40px;}
#ContactForm .success{ padding-bottom:15px; display:none}
#ContactForm label{ position:relative;min-height:22px; display: inline-block;}
#ContactForm .message{ height:222px;}
#ContactForm  span{ display:block}
#ContactForm .error, #ContactForm .empty{ font-size:10px; color:#4d820a; line-height:14px; display:none; width:100%}
#ContactForm a{ margin-left:20px; float:right;}
#ContactForm .input { margin:0;width:181px; height:15px; background: none; padding:3px 10px;color:#474747; font:13px "Trebuchet MS", Arial, Helvetica, sans-serif;}
#ContactForm textarea { overflow: auto; margin:0}


#ContactForm  .bg{ background:#fff; border-top:1px solid #c2c2c2; border-left:1px solid #c2c2c2; position:relative;border-radius: 6px; -moz-border-radius: 6px; -webkit-border-radius: 6px; float:left;}


